.App {
  font-family: sans-serif;
  text-align: start;
}

.mainfolder {
  /* border: 1px solid red; */
}

.TestOuter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 35px;
}

.InnerDiv {
  padding-left: 20px;
  border: 1px solid black;
}
